*,*::before,*::after { margin: 0; }

#background {background-color:#131851eb; position:fixed; width:100%; height:100%; } 
 
#header {background-color:green; position:relative; top:1%; right:-1%; width:98%; text-align:center; }

#navbar{background-color: green; position:relative; top:2%; right:-1%;
height:10%; width:98%; text-align:center; }  

#main{background-color: green; position:absolute; width:55%;
height:78%; top:16%; right:23%; text-align:center; }

#leftcontent{background-color: green; position:absolute; top:16%; right:79%;
height:78%; width:20%; text-align:center;}

#rightcontent{background-color:green; position:absolute; right:10%; height:78%; 
width:21%; top:16%; left:78%; text-align:center; }

#footer{background-color:green; position:absolute; top:95%; width:98%; right:1%;
height:4%; text-align:center;}

p {background-color:rgba(91, 230, 230, 0.599); margin:1%;}





